<%= simple_form_for(@user, url: user_registration_path, html: { method: :put }) do |f| %>
  <%= f.input :email, hint: confirm_email_hint %>
  <%= f.input :password, hint: t('.leave_blank_if_you_don_t_want_to_change_it') %>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password, required: true %>

  <%= f.button :submit, t('.update'), class: 'btn-light' %> <%= or_back_link %>
<% end %>

<p class="mt-5"><%= link_to t('.cancel_my_account'), user_registration_path, data: { confirm: t('.are_you_sure') }, method: :delete, class: 'text-danger' %></p>
