<%= simple_form_for(@user, url: user_registration_path) do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= invisible_recaptcha_tags(ui: :invisible, callback: 'submitInvisibleRecaptchaForm') %>
  <%= f.button :submit, t('.sign_up'), class: 'btn-light' %>
<% end %>

<p class="mt-3"><%= sign_in_link %></p>

<script>
  $('#new_user').find("input[type='submit']").click(function(e) {
    grecaptcha.execute();
    return false;
  });

  var submitInvisibleRecaptchaForm = function () {
    $("#new_user").submit();
  };
</script>
