<%= simple_form_for(resource, as: resource_name,
                              url: registration_path(resource_name)) do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= invisible_recaptcha_tags ui: :input, value: t('.sign_up') %>
<% end %>

<p><%= link_to t("devise.shared_links.sign_in"), new_session_path(resource_name) %></p>
<p><%= link_to t("devise.shared_links.didn_t_receive_confirmation_instructions"), new_confirmation_path(resource_name) %></p>
