<%= simple_form_for(@user, url: user_registration_path) do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= invisible_recaptcha_tags ui: :input, value: t('.sign_up') %>
<% end %>

<p><%= sign_in_link %></p>
