<%= content_for(:title) { @page.title } %>

<div class="page-content">
  <%= @page.html.html_safe %>
</div>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<% if @project.google_analytics_tracker_id.present? %>
  <% content_for :head do %>
    <%= render 'google_analytics_tracker',
      tracker_id: @project.google_analytics_tracker_id %>
  <% end %>
<% end %>

<% if @project.yandex_metrika_tracker_id.present? %>
  <% content_for :head do %>
    <%= render 'yandex_metrika_tracker',
      tracker_id: @project.yandex_metrika_tracker_id %>
  <% end %>
<% end %>

<% content_for :head do %>
 <%= render 'seo_tags' %>
<% end %>
