<%= content_for(:title) { @page.title } %>

<div class="page-content">
  <%= @page.html.html_safe %>
</div>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<% if @project.google_analytics_tracker_id.present? %>
  <% content_for :head do %>
    <%= render 'google_analytics_tracker',
      tracker_id: @project.google_analytics_tracker_id %>
  <% end %>
<% end %>

<% content_for :head do %>
 <%= render 'seo_tags' %>
<% end %>

<script>
  $(function() {
    $("h1, h2, h3, h4, h5, h6").each(function(i, el) {
      var $el, icon, id;
      $el = $(el);
      id = $el.attr('id');
      icon = '<i class="fa fa-link"></i>';
      if (id) { $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));}
    });
  });
</script>