<% content_for(:title) { t('.title') } %>

<%= simple_form_for(@user, url: users_path, html: { method: :put }) do |f| %>
  <%= f.input :email %>

  <%= f.button :submit, t('views.users.submit'), class: 'btn-light' %> <%= or_back_link %>
<% end %>

<%= button_to t('views.users.sign_out_everywhere'), sign_out_everywhere_url, method: :delete, class: 'btn btn-light mt-3' %>

<p class="mt-5"><%= link_to t('views.users.cancel_my_account'), users_path, data: {confirm: t('views.users.are_you_sure')}, method: :delete, class: 'text-danger' %></p>
