<%= simple_form_for(@user, url: user_password_path, html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <%= f.full_error :reset_password_token %>

  <%= f.input :password, label: t(".new_password"), required: true, autofocus: true, hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length) %>
  <%= f.input :password_confirmation, label: t(".confirm_new_password"), required: true %>

  <%= f.button :submit, t(".change_my_password") %>
<% end %>

<p class="mt-3"><%= sign_in_link %></p>
<p><%= sign_up_link %></p>
