<% if page == @page %>
  <li class="muted"
    data-role="page_<%= page.id %>"
    data-move-url="<%= move_private_project_page_url(@project, page) %>"
    data-position="<%= page.position %>"
  >
  <p><%= page.title %></p>
  </li>
<% else %>
  <li
    data-role="page_<%= page.id %>"
    data-move-url="<%= move_private_project_page_url(@project, page) %>"
    data-position="<%= page.position %>"
  >
  <p><%= link_to page.title, private_project_page_path(@project, page) %></p>
  </li>
<% end %>
