<% if page == @page %>
  <div class="text-muted"
    data-role="page_<%= page.id %>"
    data-move-url="<%= move_private_project_page_url(@project, page) %>"
    data-position="<%= page.position %>"
  >
    <p class="mb-3"><%= page.title %></p>
  </div>
<% else %>
  <div
    data-role="page_<%= page.id %>"
    data-move-url="<%= move_private_project_page_url(@project, page) %>"
    data-position="<%= page.position %>"
  >
    <p class="mb-3"><%= link_to page.title, private_project_page_path(@project, page) %></p>
  </div>
<% end %>
