<h4 class="mb-3"><%= @project.title %></h4>

<div data-role="activerecord_sortable">
  <%= render @project.pages %>
</div>

<p class="mt-4 mb-2">
  <%= link_to t('views.pages.edit_page'),
   edit_private_project_page_path(@project, @page) %>
</p>
<p>
  <%= link_to t('views.sidebar.new_page'), new_private_project_page_path(@project), id: 'new_page' %>
</p>
<% if current_user.owns?(@project) %>
  <p>
    <%= link_to t('views.sidebar.edit_project'), edit_private_project_url(@project) %>
  </p>
<% end %>

<script>
  $(document).on('turbolinks:load', function () {
    hotkeys.activate('private_project_page');
  });
</script>
