<%= content_for(:title) { @page.title } %>
<% content_for(:after_title) do %>
  <%= link_to public_project_page_url(@project, @page), title: t('.public_hint'), class: 'small text-muted' do %>
    <%= public_project_page_url(@project, @page) %>
  <% end %>
<% end %>

<div class="page-content">
  <%= @page.html.html_safe %>
</div>

<% if @project.discussions_enabled? %>
  <div class="page-content mt-4">
    <h4><%= t('private.discussions.title') %> <small><%= t('private.discussions.title_hint') %></small></h4>
    <div id="discussions">
      <%= render partial: "private/discussions/form" %>

      <%= render 'private/discussions/tree', discussions: @discussions %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'sidebar' %>
<% end %>
