<%= content_for(:title) { @page.title } %>
<% content_for(:after_title) do %>
  <%= link_to public_project_page_url(@project, @page), title: t('.public_hint'), class: 'small text-muted' do %>
    <%= public_project_page_url(@project, @page) %>
  <% end %>
<% end %>

<div class="page-content">
  <%= @page.html.html_safe %>
</div>

<div class="page-content mt-4">
  <h3><%= t('comments.title') %>:</h3>
  <%= render partial: "comments/form", locals: { commentable: @page } %>

  <%= render @page.comments.where(parent_id: nil) %>
</div>

<% content_for :sidebar do %>
  <%= render partial: 'sidebar' %>
<% end %>
