<%= content_for(:title) { @page.title } %>
<% content_for(:after_title) do %>
  <%= link_to public_project_page_url(@page), title: t('.public_hint'), class: 'small text-muted' do %>
    <%= public_project_page_url(@page) %>
  <% end %>
<% end %>

<div class="page-content">
  <%= @page.html.html_safe %>
</div>

<% content_for :sidebar do %>
  <%= render partial: 'sidebar' %>
<% end %>
