<%= form_for([@project, @page, block]) do |f| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :source %>
    <%= f.text_area :source %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
