<%= form_for([@project, page]) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.label :title, 'Название страницы' %>
    <%= f.text_field :title %>
  </div>

  <div class="form-item">
    <%= f.submit 'Сохранить', class: 'button outline small' %> или <%= link_to 'назад', :back %>
  </div>
<% end %>
