<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-item">
    <%= f.label :source %>
    <%= f.text_area :source, rows: 10, class: 'froala' %>
    <div class="desc"><%= markdown_hint_link %></div>
  </div>

  <div class="form-item">
    <%= f.submit class: 'button outline small' %> <%= or_back_link %>
  </div>

<% end %>
