<%= form_for(page, html: {class: 'js-toast-form'}) do |f| %>
  <div class="form-item">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <p class="error"><%= errors(page, :title) %></p>
  </div>

  <div class="form-item">
    <%= f.label :source %>
    <div class="edit-section"></div>
    <%= f.text_area :source, rows: 10, style: 'display:none', class: 'toast-textarea'%>
    <div class="desc"><%= markdown_hint_link %></div>
  </div>

  <div class="form-item">
    <%= f.submit class: 'button outline small' %> <%= or_back_link %>
  </div>
<% end %>

<%= render '/partials/markdown_modal_window' %>
