<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Html</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @page.blocks.each do |block| %>
      <tr>
        <td><%= block.source %></td>
        <td><%= block.html %></td>
        <td><%= link_to 'Show', project_page_block_path(@project, @page, block) %></td>
        <td><%= link_to 'Edit', edit_project_page_block_path(@project, @page, block) %></td>
        <td><%= link_to 'Destroy', project_page_block_path(@project, @page, block), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Block', new_project_page_block_path(@project, @page) %>

<%= link_to 'Edit', edit_project_page_path(@project, @page) %> |
<%= link_to 'Back', project_pages_path(@project) %>
