<% content_for :title do %>
  <%= @project.title %>
<% end %>

<h1 class="h3">
  <%= @page.title %>
  <%= link_to fa_icon('pencil'), edit_project_page_path(@project, @page), class: 'small' %>
</h1>

<% @page.blocks.each do |block| %>
  <div class="block">
    <div class="block-body">
      <%= block.html.html_safe %>
    </div>
    <div class="block-controls">
      <%= link_to fa_icon('pencil'), edit_project_page_block_path(@project, @page, block) %>
    </div>
  </div>
<% end %>

<%= link_to 'Новый блок', new_project_page_block_path(@project, @page), class: 'button outline' %>

<% content_for :sidebar do %>
  <% @project.pages.each do |page| %>
    <% if page == @page %>
      <p class="muted"><%= page.title %></p>
    <% else %>
      <p><%= link_to page.title, project_page_path(@project, page) %></p>
    <% end %>
  <% end %>

  <%= link_to fa_icon('plus'), new_project_page_path(@project), title: 'Новая страница' %>
<% end %>
