<% content_for :title do %>
  <%= @project.title %>
<% end %>

<p id="notice"><%= notice %></p>

<h1 class="h3">
  <%= @page.title %>
  <%= link_to fa_icon('pencil'), edit_project_page_path(@project, @page), class: 'small' %>
</h1>

<% @page.blocks.each do |block| %>
  <div class="block">
    <div class="block-body">
      <%= block.html.html_safe %>
    </div>
    <div class="block-controls">
      <%= link_to fa_icon('pencil'), edit_project_page_block_path(@project, @page, block) %>
    </div>
  </div>
<% end %>

<%= link_to 'New Block', new_project_page_block_path(@project, @page), class: 'button' %>

<% content_for :sidebar do %>
  <% @project.pages.each do |page| %>
    <p><%= link_to page.title, project_page_path(@project, page) %></p>
  <% end %>
<% end %>
