<% content_for :title do %>
  <%= @project.title %>
<% end %>

<h1 class="h3">
  <%= @page.title %>
  <% if current_user_owns?(@project) %>
    <%= link_to fa_icon('pencil'), edit_page_path(@page), class: 'small' %>
  <% end %>
</h1>

<% @page.blocks.each do |block| %>
  <div class="block">
    <div class="block-body">
      <%= block.html.html_safe %>
    </div>
    <% if current_user_owns?(@project) %>
      <div class="block-controls">
        <%= link_to fa_icon('pencil'), edit_page_block_path(@page, block) %>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user_owns?(@project) %>
  <%= link_to 'Новый блок', new_page_block_path(@page), class: 'button outline' %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'partials/sidebar' %>
<% end %>
