<%= form_for(project, html: {class: 'form'}) do |f| %>
  <div class="form-item">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <p class="error"><%= errors(:title) %></p>
  </div>

  <div class="form-item">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
    <p class="error"><%= errors(:slug) %></p>
  </div>

  <div class="form-item">
    <%= f.label :google_analytics_tracker_id %>
    <%= f.text_field :google_analytics_tracker_id %>
    <div class="desc"><%= t('views.for_example', text: 'UA-124200793-1') %></div>
  </div>

  <div class="form-item small">
    <%= f.submit class: 'button outline small' %> <%= or_back_link %>
  </div>
<% end %>
