<%= form_for(project, html: {class: 'form'}) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(project.errors.count, "error") %>
        prohibited this project from being saved:
      </h4>

      <li class="error" style="list-style: none;"><%= project.errors.full_messages_for(:pages).to_s.tr('[]', '').tr('""', '') %></li>
    </div>
  <% end %>

  <div class="form-item">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <li class="error" style="list-style: none;"><%= project.errors.full_messages_for(:title).to_s.tr('[]', '').tr('""', '') if project.errors.any? %></li>
  </div>

  <div class="form-item">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
    <li class="error" style="list-style: none;"><%= project.errors.full_messages_for(:slug).to_s.tr('[]', '').tr('""', '') if project.errors.any? %></li>
  </div>

  <div class="form-item">
    <%= f.label :google_analytics_tracker_id %>
    <%= f.text_field :google_analytics_tracker_id %>
    <div class="desc"><%= t('views.for_example', text: 'UA-124200793-1') %></div>
  </div>

  <div class="form-item small">
    <%= f.submit class: 'button outline small' %> <%= or_back_link %>
  </div>
<% end %>
