<p id="notice"><%= notice %></p>

<h1>
  <%= @project.title %>
  <%= link_to fa_icon('pencil'), edit_project_path(@project), class: 'small' %>
</h1>

<% @project.pages.each do |page| %>
  <p><%= link_to page.title, project_page_path(@project, page) %></p>
<% end %>

<%= link_to 'New Page', new_project_page_path(@project), class: 'button' %>
