<% content_for :title do %>
  <%= @project.title %>
<% end %>

<p><%= link_to fa_icon('pencil', text: 'Редактировать проект'), edit_project_path(@project), class: 'small' %></p>

<% if @project.pages.any? %>
  <% @project.pages.each do |page| %>
    <p><%= link_to page.title, project_page_path(@project, page) %></p>
  <% end %>
  <%= link_to 'Новая страница', new_project_page_path(@project), class: 'button outline' %>
<% else %>
  В этом проект нет содержимого
  <%= link_to "cоздайте страницу", new_project_page_path(@project) %>
  для начала.
<% end %>
