<%= simple_form_for(@user, url: user_session_path) do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>
  <%= f.submit t('.sign_in') %>
<% end %>

<p><%= sign_in_link %></p>
<p><%= forgot_password_link %></p>
<p><%= email_confirmation_link %></p>
