<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>
  <%= f.submit t('.sign_in') %>
<% end %>

<p><%= link_to t("devise.shared_links.sign_up"), new_registration_path(resource_name) %></p>
<p><%= link_to t("devise.shared_links.forgot_your_password"), new_password_path(resource_name) %></p>
<p><%= link_to t("devise.shared_links.didn_t_receive_confirmation_instructions"), new_confirmation_path(resource_name) %></p>
