<%= simple_form_for(@user, url: user_session_path) do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>
  <%= f.button :submit, t('.sign_in') %>
<% end %>

<p class="mt-3"><%= sign_up_link %></p>
<p><%= forgot_password_link %></p>
