<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, autofocus: true %>
  <%= f.input :password %>
  <%= f.input :remember_me, as: :boolean %>
  <%= f.submit t('.sign_in') %>
<% end %>

<p><%= sign_in_link %></p>
<p><%= forgot_password_link %></p>
<p><%= email_confirmation_link %></p>
