<% comment_padding = comment.depth >= 9 ? 'mt-3 mb-5' : 'pl-4 mt-3 mb-5' %>
<div class="<%= comment_padding %>">
  <% if comment.deleted? %>
    <strong><%= t('comments.user_deleted') %></strong>
    <div class="small text-muted mb-2">
      <%= comment.created_at.strftime("%d-%m-%Y %H:%M") %>
    </div>
    <p><i><%= t('comments.comment_deleted') %></i></p>
  <% else %>
    <strong> <%= comment.user.email %></strong>
    <div class="small text-muted mb-2">
      <%= comment.created_at.strftime("%d-%m-%Y %H:%M") %>
    </div>

    <%= simple_format comment.body %>
  <% end %>

  <% if signed_in? %>
    <% unless comment.deleted? %>
      <div class="mt-n2">
        <%= link_to t('comments.answer'), "#commentCollapse_#{dom_id(comment)}",
                    data: { toggle: :collapse },
                    aria: { expanded: false, controls: "commentCollapse_#{dom_id(comment)}" } %>

        <%= link_to t('comments.delete'), [:private, @project, @page, comment],
                    class: "ml-2",
                    method: :delete,
                    data: { confirm: t('comments.delete_confirmation') } if comment.user == current_user %>
      </div>
    <% end %>
    <div>
    <%= render partial: "private/comments/form", locals: { parent_id: comment.id,
                                                           id: "commentCollapse_#{dom_id(comment)}",
                                                           class: "collapse" } %>
    </div>
  <% end %>

  <%= tag.div id: "#{dom_id(comment)}_comments" do %>
    <%= render partial: "private/comments/comment", collection: comment.children %>
  <% end %>
</div>
