<div class="px-4 mt-3 mb-5">
  <% if comment.deleted? %>
    <strong><%= t('comments.user_deleted') %></strong>
    <div class="small text-muted mb-2">
      <%= comment.created_at.strftime("%d-%m-%Y %H:%M") %>
    </div>
    <p><i><%= t('comments.comment_deleted') %></i></p>
  <% else %>
    <strong> <%= comment.user.email %></strong>
    <div class="small text-muted mb-2">
      <%= comment.created_at.strftime("%d-%m-%Y %H:%M") %>
    </div>
  <% end %>

  <%= simple_format comment.body %>

  <div class="mt-n2">
    <%= link_to t('comments.answer'), "#commentCollapse_#{dom_id(comment)}",
                data: { toggle: :collapse },
                aria: { expanded: false, controls: "commentCollapse_#{dom_id(comment)}" } if signed_in? %>

    <% if signed_in? && comment.user == current_user %>
      <%= link_to t('comments.delete'), [:private, @project, comment.commentable, comment],
                  class: "ml-2",
                  method: :delete,
                  data: { confirm: t('comments.delete_confirmation') } %>
    <% end %>

    <%= render partial: "private/comments/form", locals: { commentable: comment.commentable,
                                                   parent_id: comment.id,
                                                   id: "commentCollapse_#{dom_id(comment)}",
                                                   class: "collapse" } %>
  </div>
  <%= tag.div id: "#{dom_id(comment)}_comments" do %>
    <%= render partial: "private/comments/comment", collection: comment.comments %>
  <% end %>
</div>
