<%= render 'private/projects/form', project: @project %>

<h3 class="mt-5 mb-1"><%= t('.collaborators') %></h3>
<table>
  <tbody>
  <% @collaborations.each do |collaboration| %>
    <tr>
      <td><%= collaboration.email %></td>
      <td title="<%= t('.remove_collaborator_hint') %>">
        <%= link_to fa_icon('times'), private_project_collaborator_path(@project, collaboration), method: :delete, data: {confirm: t('views.are_you_sure')} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if current_user.confirmed? %>
  <%= simple_form_for([:private, @project, @collaboration], url: private_project_collaborators_path(@project), html: {class: 'form'}) do |f| %>
    <%= f.input :collaborator_email %>

    <%= f.button :submit, t('.add_collaborator'), class: 'button outline small' %>
  <% end %>
<% else %>
  <%= t('.confirm_to_invite_collaborators', url: new_user_confirmation_url).html_safe %>
<% end %>
