<% content_for(:title) { t('.title') } %>

<table class="table">
  <tbody>
    <% (@owned_projects + @collaborated_projects).each_with_index do |project| %>
      <tr>
        <td>
          <%= link_to project.title, private_project_url(project) %>
          <% if project.owner != current_user %>
            <div class="text-muted small"><%= t('.collaborating') %></div>
          <% end %>
        </td>

        <td title="<%= t('.public_hint') %>"><%= link_to fa_icon('desktop'), public_project_url(project) %></td>

        <% if project.owner == current_user %>
          <td title="<%= t('.edit_hint') %>"><%= link_to fa_icon('pencil'), edit_private_project_path(project) %></td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>

        <% if project.owner == current_user %>
          <td title="<%= t('.destroy_hint') %>"><%= link_to fa_icon('trash-o'), private_project_path(project), method: :delete, data: { confirm: t('views.are_you_sure') }, class: "text-danger" %></td>
        <% else %>
          <td title="<%= t('.stop_collaborating_hint') %>"><%= link_to fa_icon('sign-out'), private_project_collaborator_path(project, @collaborations[project.id]), method: :delete, data: { confirm: t('views.are_you_sure') }, class: "text-danger" %></td>
        <% end %>

        <% if project.private? %>
          <% if project.secret_enabled? %>
            <td
              title="<%= t('.secret_link_hint') %>"
              class="cursor-hand clipboard"
              data-clipboard-text="<%= public_project_secret_sign_in_url(project) %>"
            >
              <%= fa_icon 'link' %>
            </td>
          <% else %>
            <td title="<%= t('.private_hint') %>"><%= fa_icon 'lock' %></td>
          <% end %>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to t('.create'), new_private_project_path, class: 'btn btn-light', method: :get %>
