<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <%= yield :head %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if signed_in? %>
    <div class="page">
      <div class="row gutters">
        <div class="col col-1"></div>
        <div class="col col-10">
          <div class="float-right small">
            <% if public_controller? && current_user_owns_project? %>
              <%= link_to fa_icon('pencil'),
                private_project_page_url(@project, @page, host: private_domain), title: t('views.back_to_edit') %>
            <% else %>
              <%= link_to_unless_current current_user.email, edit_user_registration_path %> |
              <%= link_to_unless_current t('views.projects'), private_projects_path %> |
              <%= link_to_switch_locale %> |
              <%= link_to t('views.sidebar.sign_out'), destroy_user_session_path, method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="page">
    <div class="row gutters">
      <div class="col col-1"></div>
      <div class="col col-10">
        <h1 class="buffer-bottom-sm"><%= title %></h1>
        <% unless notice.blank? %>
          <div class="message" data-component="message">
            <%= notice %>
            <span class="close small"></span>
          </div>
        <% end %>
        <% unless alert.blank? %>
          <div class="message error" data-component="message">
            <%= alert %>
            <span class="close small"></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-1"></div>
      <div class="col col-7">
        <%= yield %>
      </div>
      <div class="col col-3">
        <div class="small">
          <%= yield :sidebar %>
        </div>
      </div>
    </div>
  </div>
</html>
