<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for(:title) %></title>

    <!-- Favicon staff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <%= yield :head %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container mt-3 mb-5">
    <% if show_header? %>
      <div class="row mb-5">
        <div class="col text-right">
          <% if private_controller? %>
            <%= link_to_unless_current current_user.email, edit_users_path %> |
            <%= link_to_unless_current t('views.projects'), private_projects_path %> |
            <%= link_to_switch_locale %> |
            <%= link_to t('views.sidebar.sign_out'), sign_out_path, method: :delete %>
          <% else # current_user_edits_project? %>
            <%= link_to fa_icon('pencil'),
              private_project_page_url(@project, @page, host: area_private_domain), title: t('views.back_to_edit') %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% full_width_layout = content_for?(:sidebar) || content_for?(:full_width_layout) %>
    <% row_class, col_class = full_width_layout ? ['row', 'col'] : ['row d-flex justify-content-center', 'col-md-7'] %>

    <div class="<%= row_class %>">
      <div class="<%= col_class %>">
        <div class="mb-4">
          <h1><%= content_for(:title) %></h1>
          <%= content_for(:after_title) %>
        </div>
        <% unless notice.blank? %>
          <div class="alert alert-primary alert-dismissible">
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert">
              &times;
            </button>
          </div>
        <% end %>
        <% unless alert.blank? %>
          <div class="alert alert-danger alert-dismissible">
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert">
              &times;
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="<%= row_class %>">
      <% if content_for?(:sidebar) %>
        <div class="col-sm-8">
          <%= yield %>
        </div>
        <div class="col-sm-4 small">
          <%= yield :sidebar %>
        </div>
      <% else %>
        <div class="<%= col_class %>">
          <%= yield %>
        </div>
      <% end %>
    </div>
  </div>
</html>
